*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

/* Header */
header{
    background:#333;
    color:white;
    padding:15px 50px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:20px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

/* Hero Section */
.hero{
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:linear-gradient(to right, #4facfe, #00f2fe);
    color:white;
    text-align:center;
}

.hero h2{
    font-size:48px;
    margin-bottom:10px;
}

.hero p{
    font-size:18px;
    margin-bottom:20px;
}

button{
    padding:12px 25px;
    border:none;
    background:#333;
    color:white;
    font-size:16px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:black;
}

/* Features */
.features{
    display:flex;
    justify-content:space-around;
    padding:50px;
    background:#f4f4f4;
}

.box{
    background:white;
    padding:20px;
    width:250px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
}

.box h3{
    margin-bottom:10px;
}

/* Footer */
footer{
    background:#333;
    color:white;
    text-align:center;
    padding:15px;
}
